@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,700;0,900;1,300;1,400&display=swap');

body {
  background-color: rgb(6, 206, 206);
  color: white;
  font-family: 'Lato', sans-serif;
}

.anim_img {
  width: 130px;
  height: 110px;
  margin-right: 10px;
  border-radius: 5px;
}

.accordion {
  width: 20px;
  height: 20px;
}

.search-bar-cont {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

#search-input {
  width: 100vw;
  color: white !important;
  background-color: rgb(16, 90, 90);
  border: none !important;
  border-radius: 4px;
  padding: 5px 5px 5px 15px;
  margin-bottom: 2px;
}

#search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#home_content_cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.content-cont {
  display: flex;
  justify-content: center;
  text-decoration: none !important;
}

.content-cont:nth-child(4n+2),
.content-cont:nth-child(4n+3):not(:first-child) {
  background-color: rgb(0, 121, 241);
}

.content-cont h1 {
  font-size: 16px;
  margin: 0;
}

.content-cont i {
  font-size: 12px;
  margin: 0;
}

.animal_images {
  display: flex;
  align-items: center;
  min-height: 200px;
  width: 100%;
}

.img_accordion {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.heading {
  color: #fff;
  padding-bottom: 15px;
  text-align: right;
  padding-right: 5px;
}
